.navbar {
    height: 76px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, #e9dcdc 0%, #e7d8d8 20%); /* Dark at top, gradually lightens */

    .navbar-contents {
        width: 100%;
        max-width: 1245px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        color: #000;
        font-family: Roboto;
        font-weight: 500;

        .logos-and-links {
            display: flex;
            align-items: center;
            gap: 48px;

            .nav-links {
                display: flex;
                gap: 16px;

                .nav-link {
                    padding: 12px 8px;
                    cursor: pointer;
                    border: 2px solid #a1a1aa;
                    border-radius: 4px;

                    &:hover {
                        border-color: #4a5568;
                    }
                }
                .nav-link.active {
                    border-color: #4a5568;
                }
            }
        }

        .right-section {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}
